<%- include('../layouts/header') %> 
<%- include('../layouts/user-links') %>

<% if(currentOrder!=null){%>
<div class="container" id="orderDetails">
  <div class="row mb-2 mt-4 rounded border p-3">
    <div class="col-lg-10 mx-auto" id="invoice">
        <a class="navbar-brand d-flex align-items-center justify-content-center mt-2 mb-4" href="/">
            <img
              src="/public/img/lap4you-logo.png"
              alt="Logo"
              width="40"
              height="40"
              class="d-inline-block align-text-top"
            />
            <div class="brand-name ms-3">
              <span>LAP<span style="color: red;">4</span>YOU</span>
            </div>
          </a>
        <div class="name mb-2 row" style="border-bottom: 1px solid #dbdbdb; font-size: 0.8rem;">
            <span class="col-lg-6 my-1">Order ID: <%=currentOrder._id%></span>
            <span class="col-lg-6 my-1">Ordered On: <%=moment(currentOrder.orderedOn).format('MMMM Do YYYY, h:mm:ss a')%></span>
        </div>
      <div class="user-details my-3">
        <h6 class="border-bottom pb-2">Products:</h6>
      <% if(currentOrder.summary != null){ %>
        <%currentOrder.summary.forEach((product,i)=> {%>
      <div class="product-details d-flex justify-content-between pb-1 px-5" style="border-bottom: 1px solid #dbdbdb" >
        <span><%=i+1%>.</span>
        <span class="flex-grow-1 mx-3"><%=product.product.name%></span>
        <span><span style="text-transform: none;">x</span> <%=product.quantity%></span>
        <span class="mx-5">₹ <%=product.totalPrice%></span>
      </div>
      <%})%>
      <%}%>
    </div>

    <div class="address my-2">
        <h6>Address:</h6>
        <% if(currentOrder.shippingAddress!=""){ %>
          <p class="px-1" style="text-transform: none;"><%=currentOrder.shippingAddress.building%>, <%=currentOrder.shippingAddress.address%></br><%=currentOrder.shippingAddress.country%> - <%=currentOrder.shippingAddress.pincode%></br>Alternate No: <%=currentOrder.shippingAddress.contactNumber%></br></p>
        <%}%>
    </div>

      <div class="row my-2 line-break">
        
   

        <div class="col-lg-6 my-2 px-3">
            <span class="d-flex justify-content-between">
                <h6>
                    Products Quantity:
                </h6>
                <span>
                    <%=currentOrder.totalQuantity%>
                </span>
            </span>
            <span class="d-flex justify-content-between">
                <h6>
                    Payment:
                </h6>
                <span>
                    <%=currentOrder.modeOfPayment%>
                </span>
            </span>
            <span class="d-flex justify-content-between">
                <h6>
                    Coupon Used:
                </h6>
                <span>
                    <%if(currentOrder.couponUsed){%> <%=currentOrder.couponUsed.name%> <%}else{%> No coupon used <%}%>
                </span>
            </span>
        </div>
        <div class="col-lg-6 my-2 px-3">
            <span class="d-flex justify-content-between">
                <h6>
                    Price:
                </h6>
                <span>
                    <%=currentOrder.totalPrice%>
                </span>
            </span>
            <span class="d-flex justify-content-between">
                <h6>
                    Discount Price:
                </h6>
                <span>
                    <%=currentOrder.discountPrice%>
                </span>
            </span>
            <span class="d-flex justify-content-between">
                <h6>
                    Bill Amount:
                </h6>
                <span>
                    <%=currentOrder.finalPrice%>
                </span>
            </span>
        </div>

      </div>
      <div class="form-footer py-0 row justify-content-between">
        <span class="col-lg-8 my-1" style="font-weight: 500">Order Status: <%if(currentOrder.delivered==true && currentOrder.status ==="Delivered"){%>
          Delivered on <%=moment(currentOrder.deliveredOn).format('MMMM Do YYYY, h:mm:ss a')%>
          <%}else if(currentOrder.status === "Returned"){%><b>Returned On <%=moment(currentOrder.returnedOn)%></b>
          <%}else if(currentOrder.status === "Replace Requested"){%><b>Replace requested On <%=moment(currentOrder.returnedOn)%> </b>
          <%}else {%><b><%=currentOrder.status%></b><%}%></span>
        
    </div>
  </div>
</div>
<div class="d-lg-flex justify-content-around mt-2" >
    <a href="/users/orders" style="font-size: 0.7rem;" class="col-lg-3 col-sm-12 btn btn-dark d-flex align-items-center justify-content-center px-2 mb-3 text-white"
    ><i class="fa fa-arrow-left mx-1"></i>all orders</a
  > 
  <%if(currentOrder.status !== 'Cancelled' && currentOrder.delivered != true && currentOrder.status !== 'Refunded' && currentOrder.status !== "Replaced"){%> <button style="font-size: 0.75rem; text-transform: uppercase; letter-spacing: 2.5px;" class="col-sm-12  btn btn-danger d-flex align-items-center justify-content-center px-2 mb-3 text-white col-lg-3 "
  onclick="cancelOrder('<%=currentOrder._id%>')">Cancel Order</button
> <% }%>


<%if(currentOrder.delivered === true && currentOrder.status !== "Returned" && currentOrder.status !== "Replace Requested"){%>
  <button
          type="button"
          style="font-size: 0.75rem; text-transform: uppercase; letter-spacing: 2.5px;"
          class="col-sm-12  btn btn-danger d-flex align-items-center justify-content-center px-2 mb-3 text-white col-lg-3"
          onclick="checkValid('<%= currentOrder.deliveredOn %>')"
        >Return Order
  </button>
  <!-- modal for return form -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Return Product 
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          
          <!-- -------------------- -->


          <form action="/users/orders/return" method="POST">
            <input type="text" value="<%=currentOrder._id%>" hidden name="orderId">
            <input type="text" value="<%=currentOrder.summary[0].product._id%>" hidden name="product">
          
            <div class="mb-3">
              <label for="reason" class="px-1" style="font-size: 0.75rem;">Reason:</label>
              <input
                type="text"
                class="form-control"
                id="reason"
                placeholder="Reason for Return/Replacement"
                name="reason"
                required
              />
            </div>

            <div class="mb-3">
              <label class="px-1" style="font-size: 0.75rem;">Select Action : </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="action" id="replaceProduct" value="Replace" >
                <label class="form-check-label" for="replaceProduct"  style="font-size: 0.75rem;">
                  Replace Product
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="action" id="returnProduct" value="Return" checked>
                <label class="form-check-label" for="returnProduct" style="font-size: 0.75rem;">
                 Return Product
                </label>
              </div>
            </div>
          
            <div class="mb-3">
              <label class="px-1" style="font-size: 0.75rem;">Select Address:</label>
              <select class="form-select" name="address">
                <option value="" selected disabled>Select an address</option>
              <% allAddresses.forEach((address, i) => {%>
                <option value="<%=address._id%>" name="address"><%=address.address%></option>

              <%})%>
              </select>
            </div>
          <div id="return-section">
            <div class="mb-3">
              <label class="px-1" style="font-size: 0.75rem;">Select Bank Account:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accountType" id="existingAccount" value="existing">
                <label class="form-check-label" for="existingAccount"  style="font-size: 0.75rem;">
                  Use existing Account
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accountType" id="newAccount" value="new" checked>
                <label class="form-check-label" for="newAccount" style="font-size: 0.75rem;">
                  Use a new Bank Account
                </label>
              </div>
            </div>
          
            <div class="mb-3" id="existingAccountSection" style="display: none;">
              <label for="existingAccountNo" class="px-1" style="font-size: 0.75rem;">Select Existing Account:</label>
              <select class="form-select" name="accountNo">
                <option value="" selected disabled>Select an existing account</option>
                <!-- Add your existing account options dynamically here -->
                <option value="XXXX-XXXX-XXXX-1278">XXXX-XXXX-XXXX-1278</option>
                <option value="XXXX-XXXX-XXXX-3456" >XXXX-XXXX-XXXX-3456</option>
              </select>
            </div>
          
            <div class="mb-3" id="newAccountSection">
              <label for="accountNo" class="px-1" style="font-size: 0.75rem;">Bank Account Number:</label>
              <input
                class="form-control"
                id="accountNo"
                placeholder="Bank Account Number"
                name="accountNo"
                type="number"
              />
            </div>
          
            <div class="mb-3" id="newAccountFields">
              <label for="bankName" class="px-1" style="font-size: 0.75rem;">Bank Name:</label>
              <input
                type="text"
                class="form-control"
                id="bankName"
                placeholder="Bank Name"
                name="bankName"
              />
            </div>
          
            <div class="mb-3" id="newAccountFields">
              <label for="ifscCode" class="px-1" style="font-size: 0.75rem;">IFSC Code:</label>
              <input
                type="text"
                class="form-control"
                id="ifscCode"
                placeholder="IFSC Code"
                name="ifscCode"
              />
            </div>
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="btn btn-success">
              Submit Request
            </button>
          </div>
          </form>
          
          <script>
            const existingAccountRadio = document.getElementById('existingAccount');
            const existingAccountSection = document.getElementById('existingAccountSection');
            const newAccountSection = document.getElementById('newAccountSection');
            const newAccountFields = document.getElementById('newAccountFields');
            const return_section = document.getElementById('return-section');
            const replaceProduct = document.getElementById('replaceProduct');
            const returnProudct = document.getElementById('returnProduct');
          
            existingAccountRadio.addEventListener('change', function () {
              if (this.checked) {
                existingAccountSection.style.display = 'block';
                newAccountSection.style.display = 'none';
                newAccountFields.querySelectorAll('input').forEach((input) => (input.required = false));
              }
            });
          
            const newAccountRadio = document.getElementById('newAccount');
          
            newAccountRadio.addEventListener('change', function () {
              if (this.checked) {
                existingAccountSection.style.display = 'none';
                newAccountSection.style.display = 'block';
                newAccountFields.querySelectorAll('input').forEach((input) => (input.required = true));
              }
            });


            replaceProduct.addEventListener('change', function () {
              if (this.checked) {
                return_section.style.display = 'none';
              }
            });

            returnProudct.addEventListener('change', function () {
              if (this.checked) {
                return_section.style.display = 'block';
              }
            });
          </script>
          

<!-- ------------------- -->
      
      </div>
    </div>
  </div>
</div>
<%}%>
  <button style="font-size: 0.75rem; text-transform: uppercase; letter-spacing: 2.5px;" class="col-lg-3 col-sm-12   btn btn-dark d-flex align-items-center justify-content-center px-2 mb-3 text-white"
    onclick="printInvoice('invoice')"><i class="fa fa-download"></i>Invoice</button
  > 
</div>
</div>
<%}%>
<%- include('../layouts/footer') %>
