<%- include('../layouts/header') %>
      <%- include('../layouts/head-links') %>
      <div class="container line-break text-center py-3">
        <span class="shadow-heading" style="text-transform: uppercase;">Coupons</span>
      </div>
      <!-- Button trigger modal -->
      <div class="container d-flex justify-content-center my-3">
        <button
          type="button"
          class="btn btn-dark text-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add New Coupon
        </button>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        data-bs-backdrop="static"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Add New Coupon
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                
                <!-- -------------------- -->


                <form action="coupon_management/addNew" method="post" id="couponForm">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="form-holder"
                        name="name"
                        placeholder="Name"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="form-holder"
                        name="code"
                        placeholder="Code"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="number"
                        class="form-control"
                        id="form-holder"
                        placeholder="Discount in ₹"
                        name="discount"
                        required
                      />
                    </div>
                    <!-- category select -->
                    <div class="mb-3 ">
                      <select id="inputState" class="form-control" name="category" required> 
                        <option value="">Choose category</option> 
                        <%categories.forEach((data)=>{%> 
                          <option value="<%=data._id%>"><%=data.name%></option> 
                        <%})%> 
                      </select>
                    </div>

                     <!-- Product select -->
                     <div class="mb-3 "> SELECT PRODUCT : <br>
                      <%products.forEach(function(product, i){%>
                        <label class="my-1 fs-7">
                          <input type="checkbox" name="option<%=i%>" " value="<%=product._id%>">
                          <%=product.name%>
                        </label>
                        <br>
                      <%})%>
                    </div>

                    <input type="hidden" id="selectedProducts" name="selectedProducts" value="">

                    <div class="mb-3">
                        <input
                          type="date"
                          class="form-control"
                          id="form-holder"
                          placeholder="Starting Date"
                          name="startingDate"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <input
                          type="date"
                          class="form-control"
                          id="form-holder"
                          placeholder="Expiry Date"
                          name="expiryDate"
                          required
                        />
                      </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-success" onclick="addCoupon(event)">
                    Save changes
                  </button>
                  </form>


<!-- ------------------- -->
            
            </div>
          </div>
        </div>
      </div>

      <!-- Responsive data table -->
      
      <div class="card-body container" >
        <table id="dataTable" class="table table-hover cell-border fw-light nowrap m-0 p-0">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Code</th>
              <th>Discount</th>
              <th>Category</th>
              <th>Products</th>
              <th>Starts On</th>
              <th>Expiry Date</th>
              <th>Updated By</th>
              <th>Activity</th>
            </tr>
          </thead>
          <% if(coupons !=null){ %>
          <tbody>
            <% coupons.forEach(function(item,i){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= item.name %></td>
              <td><%= item.code %></td>
              <td>₹<%= item.discount %></td>
              <td><%= item.category.name %></td>
              <td>
                <%= item.product.map(function(product) { return product.name; }).join(', ') %>
              </td>
              <td><%= moment(item.startingDate).format('ll')  %></td>
              <td><%= moment(item.expiryDate).format('ll') %></td>
              <td><%= item.updatedBy %></td>
              <td class="text-center d-flex flex-column">
                <a href="/admin/coupon_management/edit?id=<%= item._id %>" onclick="showProductConfirmation(event, this, '<%= item.name %>', 'edit')" class="btn btn-dark text-white btn-sm my-1">Edit</a>
                <% if((item.active==true) && (item.expiryDate > Date.now())){ %> 
                <a href="/admin/coupon_management/changeActivity?id=<%= item._id %>" onclick="showProductConfirmation(event,this, 'status', 'change')" class="btn btn-success text-white btn-sm  my-1">Active</a>
              <% }else{ %>
                <a href="/admin/coupon_management/changeActivity?id=<%= item._id %>" onclick="showProductConfirmation(event,this, 'status', 'change')" class="btn btn-danger text-white btn-sm my-1">In-active</a>
                <% } %></td>
            </tr>
            <% }) %>
          </tbody>
          <% } %>
        </table>
      </div>

      <%- include('../layouts/footer') %>